:root:not([data-theme]),
[data-theme="light"] {
  --du-color-background: hsl(37, 90%, 84%);
  --du-color-link: var(--du-color-text);
  --du-color-link-hover: var(--du-color-primary);
}

a:not([class]),
a.text-underline {
  text-decoration-line: underline;
  text-decoration-color: var(--du-color-primary);
  text-decoration-thickness: max(1px, 0.075em);
  text-underline-offset: max(2px, 0.125em);
}

a:not([class]):hover,
a.text-underline:hover {
  text-decoration-color: currentColor;
}
