@use 'duecss/base/all';

:root {
  --color-primary: hsl(148, 17%, 37%);
  --color-primary-hover: hsl(148, 17%, 45%);
  --color-primary-active: hsl(148, 17%, 53%);
  --color-primary-lucent: hsla(148, 17%, 37%, 0.35);
  --due-radius: 0.125rem;
}

:root:not([data-theme]),
[data-theme='light'] {
  --color-background: hsl(37, 90%, 84%);
  --color-link: var(--color-text);
  --color-link-hover: var(--color-primary);
}

a:not([class]),
a.text-underline {
  text-decoration-line: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: max(1px, 0.05em);
  text-underline-offset: max(2px, 0.125em);
  text-decoration-skip-ink: auto;

  &:hover {
    text-decoration-color: currentColor;
  }
}
