@use "duecss/base/all";

:root {
  --du-radius: 4px;
}

:root:not([data-theme]),
[data-theme="light"] {
  --du-color-background: hsl(37, 90%, 84%);
  --du-color-link: var(--du-color-text);
  --du-color-link-hover: var(--du-color-primary);
}

a:not([class]),
a.text-underline {
  text-decoration-line: underline;
  text-decoration-color: var(--du-color-primary);
  text-decoration-thickness: max(1px, 0.05em);
  text-underline-offset: max(2px, 0.125em);

  &:hover {
    text-decoration-color: currentColor;
  }
}
