@use "duecss/components/content";

.box {
  --box-background: white;

  display: block;
  border-radius: var(--du-radius);
  background-color: var(--box-background);
  box-shadow: 3px 3px 0 var(--du-color-background),
    4px 4px 0 var(--box-background);
  padding: var(--du-space-m);

  [data-theme="dark"] & {
    --box-background: var(--du-color-contrast-lowest);
  }

  @media (min-width: 768px) {
    padding: var(--du-space-l);
  }
}

.underlined {
  box-shadow: inset 0 -0.175em var(--du-color-primary);
}
