@import 'buldy.css';

:root {
  --color-primary: hsl(148, 17%, 37%);
  --color-danger: hsl(350, 100%, 50%);
  --radius: 2px;
}

:root:not([data-theme]),
[data-theme='light'] {
  --color-background: hsl(37, 90%, 84%);
  --color-link: var(--color-text);
  --color-link-hover: var(--color-primary);
}

a:not([class]),
a.text-underline {
  text-decoration-line: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: max(1px, 0.05em);
  text-underline-offset: max(2px, 0.125em);
  text-decoration-skip-ink: auto;
}

a:not([class]):hover,
a.text-underline:hover {
  text-decoration-color: currentColor;
}

.box {
  box-shadow: 3px 3px 0 var(--color-background), 4px 4px 0 var(--box-accent);
  background-color: var(--box-accent);
}

:root:not([data-theme]) .box,
[data-theme='light'] .box {
  --box-accent: white;
}

[data-theme='dark'] .box {
  --box-accent: var(--color-contrast-lowest);
}

@media (min-width: 768px) {
  .box {
    padding: var(--space-l);
  }
}

.title-underline {
  box-shadow: inset 0 -0.175em var(--color-primary);
}

.color-danger {
  color: var(--color-danger);
}
