@use '@unocss/reset/tailwind';

@use 'duecss/base/all';
@use 'duecss/components/container';
@use 'duecss/components/columns';
@use 'duecss/components/content';
@use 'duecss/components/button';

:root {
  --color-primary: hsl(148, 17%, 37%);
  --color-primary-hover: hsl(148, 17%, 45%);
  --color-primary-active: hsl(148, 17%, 53%);
  --color-primary-lucent: hsla(148, 17%, 37%, 0.35);
  --due-radius: 0.125rem;
}

:root:not([data-theme]),
[data-theme='light'] {
  --color-background: hsl(37, 90%, 84%);
  --color-link: var(--color-text);
  --color-link-hover: var(--color-primary);
}

a:not([class]),
a.text-underline {
  text-decoration-line: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: max(1px, 0.05em);
  text-underline-offset: max(2px, 0.125em);
  text-decoration-skip-ink: auto;

  &:hover {
    text-decoration-color: currentColor;
  }
}

.box {
  display: block;
  border-radius: var(--due-radius);
  background-color: var(--box-accent);
  box-shadow: 3px 3px 0 var(--color-background), 4px 4px 0 var(--box-accent);
  padding: var(--space-m);

  :root:not([data-theme]) &,
  [data-theme='light'] & {
    --box-accent: white;
  }

  [data-theme='dark'] & {
    --box-accent: var(--color-contrast-lowest);
  }

  @media (min-width: 768px) {
    padding: var(--space-l);
  }
}

.title-underline {
  box-shadow: inset 0 -0.175em var(--color-primary);
}

.text-danger {
  color: var(--color-danger);
}
